@import '../../components/variables.css';

.root {
    min-height: calc(100vh - 60px) !important;
    flex: 1 !important;
    margin: -0.5em;
}

.container {
    max-width: 64% !important;
    margin-left: 16em;
    padding: 0 0 40px !important;
    border: none !important;
    float: left;
}

.readingListContainer {
    width: 30%;
    display: inline-block;
    position: relative;
    float: left;
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
}

.cardContainer {
    max-width: 70%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.cardsListSubHeading {
    /*margin-bottom: 1.5em;*/
    cursor: pointer;
    font-size: 1em !important;
    font-weight: 100 !important;
    color: inherit !important;
    padding-top: 0.8em;
}

.sortingSelect {
    visibility: hidden !important;
}

.readingListContainer:hover .sortingSelect {
    visibility: visible !important;
}

.cardSelected {
    background-color: #b3d4fc !important;
    border: 1px solid rgb(0, 188, 212) !important;
}

.card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9) !important;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    cursor: inherit !important;
}

.cardHeading {
    overflow: hidden;
    position: relative !important;
    line-height: 1.2em !important;
    max-height: 2.4em !important;
    text-align: justify !important;
    margin-right: -1em !important;
    padding-right: 1em !important;
    cursor: pointer;

}

.cardHeading:before {
    content: '...' !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;

}

.cardHeading:after {
    content: '' !important;
    position: absolute !important;
    right: 0 !important;
    width: 1em !important;
    height: 1em !important;
    margin-top: 0.2em !important;
    background: white;
}

.cardHeader {
    font-weight: 100 !important;
}

.cardMenuIcon {
    color: #ffffff !important;
}

.card:hover .cardMenuIcon {
    color: #00bcd4 !important;
}

.avatar {
    filter: opacity(30%);
}

.fullPostActions {
    visibility: hidden;
}

.fullPost:hover .fullPostActions {
    visibility: visible;
}

.rightMenuItem {
    font-weight: inherit !important;
    font-style: italic;
}

.badgeViews {
    display: none !important;
    padding: 12px 50px 12px 12px !important;
    position: absolute !important;
    top: 0;
}

.postViewsIcon {
    position: relative !important;
    height: inherit;
}

.viewsIcon {
    position: absolute !important;
    bottom: 10px;
}

.postViewsIcon:hover .badgeViews {
    display: block !important;
}

.menuIcon {
    display: none !important;
}

.rightMenuItem:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.rightMenuItem:hover .menuIcon {
    display: block !important;
}
