.userAvatar {
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    cursor: pointer;
}

.dialogWindow {
    padding-top: 16px !important;
}

.actionsContainer {
    text-align: center !important;
}

.actionIcon {
    color: rgb(0, 188, 212) !important;
}

.actionIcon:hover {
    color: rgba(0, 188, 212, 0.5) !important;
}
