.userAvatar {
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    cursor: pointer;
}

.dialogWindow {
    padding-top: 16px !important;
}

.imageContainer {
    height: 20em;
    overflow: hidden;
}

.actionsContainer {
    text-align: left !important;
}

.actionIcon {
    position: absolute !important;
    bottom: 10px;
}

.actionIcon:hover {
    color: rgba(0, 188, 212, 0.7) !important;
    fill: rgba(0, 188, 212, 0.7) !important;
}
