@import '../../components/variables.css';

.root {
    min-height: calc(100vh - 60px) !important;
    flex: 1 !important;
    margin: -0.5em !important;
}

.container {
    max-width: 64% !important;
    margin: 0 auto !important;
    padding: 0 0 40px !important;
    border: none !important;
    float: left;
}

.userOverviewContainer {
    padding: 0 16px 16px 16px;
    line-height: 1 !important;
}

.userOverviewHeader {
    position: relative;
    height: 14em;
}

.userAvatar {
    float: left;
    width: 10em;
}

.userAvatarLabel span {
    position: absolute;
    top: 7em;
    left: 1em;
    font-weight: 100 !important;
}

.userInfo {
    float: left;
    padding-left: 5em;
}

.userAvatar:hover, .userInfo:hover, .userAvatarLabel span:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    cursor: inherit !important;
}

.userOverviewHeading {
    font-weight: 400;
}

.cardHeader {
    font-weight: 100 !important;
}

.badgeViews {
    display: none !important;
    padding: 12px 50px 12px 12px !important;
    position: absolute !important;
    top: 0;
}

.postViewsIcon {
    position: relative !important;
    height: inherit;
}

.viewsIcon {
    position: absolute !important;
    bottom: 10px;
}

.postViewsIcon:hover .badgeViews {
    display: block !important;
}

.gridContainer {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
}

.gridList {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
}
