.root {
    width: 85%;
    margin-left: -1em;
}

.userArea {
    margin-top: -0.4em;
}

.userAvatar {
    margin: 5px !important;
}

.userName {
    display: table-cell;
    padding: 0.5em 0.5em 0.5em 1.5em;
}
