.menuPaper {
    margin-top: 1em;
    display: inline-block;
    width: 85%;
}

.subMenu {
    font-weight: inherit !important;
    padding-left: 1em !important;
}

.menuSubheader {
    border-bottom: 1px solid rgba(64, 64, 64, 0.4) !important;
}

.menuItem {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9) !important;
}

.menuItem:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: rgba(64, 64, 64, 0.4);
    font-size: 1.125em; /* ~18px */
    cursor: pointer;
    margin-left: -15px;
}

.link:hover {
    color: rgba(64, 64, 64, 0.4);
}

.menuIcon {
    display: none !important;
    padding-right: 20px !important;

}

.menuItem:hover .menuIcon {
    display: block !important;
}

.menuItem:hover .link {
    color: rgba(64, 64, 64, 0.4) !important;
}

.rightMenuIcon {
    display: none !important;
    padding: 1em !important;
}

.menuSubheader:hover .rightMenuIcon {
    display: block !important;
}